.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    /* padding: 1px;
      .one зцентровано горизонтально, але його верхнє поле просувається за межі полотна та на край рамки, 
    зміщуючи все полотно вниз на 20 пікселів.
    додаю padding зі значенням 1px до елемента .canvas, щоб надати елементу .one тверде тіло, від якого можна відштовхнутися. */
    overflow: hidden; /* Додавання 1 пікселя відступу вгорі, внизу, ліворуч та праворуч від полотна змінило його розміри на 502 пікселі x 602 пікселі.
    Заміняя властивість padding на overflow зі значенням hidden, повертаючи полотно до початкових розмірів.*/
    filter: blur(2px); /*додаю размытие*/
}

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto; /* надаю елементу вертикальне поле зі значенням 20px та горизонтальне поле зі значенням auto. Це перемістить рамку вниз на 20 пікселів та зцентрує її горизонтально на сторінці.*/
}

.one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto;
    box-shadow: 0 0 3px 3px #efb762; /*Збільште область та пом’якшіть краї */
    border-radius: 9px;
    transform: rotate(-0.6deg); /*Обертайте кожен прямокутник, щоб надати йому більш недосконалого, намальованого вручну вигляду.
    Використайте властивість transform на селекторі .one та застосуйте rotate проти годинникової стрілки на 0,6 градуса.*/
}

.two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #8f0401;
    border-radius: 8px 10px;
    transform: rotate(0.4deg);
}

.three {
    width: 91%;
    height: 28%;
    background-color: #b20403;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #b20403;
    border-radius: 30px 25px 60px 12px;
    transform: rotate(-0.2deg);
}
/* збільште їхній ефект blur на ... піксель. */
.one, .two {
    filter:blur(1px);
}

